<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seuprofissional">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeuProfissional">
        <activity android:name="activity.VisualizarProfi"></activity>
        <activity android:name="activity.ListarProfissional"></activity>
        <activity
            android:name=".MainActivityProfissional"
            android:label="@string/app_name"
            android:theme="@style/Theme.SeuProfissional.NoActionBar" />
        <activity android:name="activity.CadastroProfisisonal" />
        <activity android:name="activity.LoginProfissional" />
        <activity android:name="activity.CadastroUsuario" />
        <activity android:name="activity.LoginUser" />
        <activity android:name="activity.MenuInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SeuProfissional.NoActionBar" />
    </application>

</manifest>